body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
}
/*nav style*/
nav{
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #0599F2;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;

}
nav a:hover{
    color: #1A1A1A;
}
.home a{
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
}
.home a:hover{
    transform: scale(1);
}
.logo{
    margin-top: 10px ;
    margin-left: 5%;
}

.button a{
    background-color: white;
    color: #0599F2;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 15px;
    border: 2.3px white solid ;
    transition: 0.35s;
}
.button a:hover{
    background-color: #0597f2;
    color: white;
    border: 2.3px white solid ;
}
/* [END] nav style*/
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section i {
    color: white;
    font-size: 300px;
}
section h1{
    color: white;
    font-size: 30px;
}










