/* Footer */
footer{
    background-color: var(--main-color);
    width: 100%;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    padding: 40px 0;
    
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%;
    /* background-color: red; */
}


/* .line{
    width: 2px;
    height: 70px;
    background-color: white;
    margin: 0px 20px;
    margin-top: auto;
}
.lines-between{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 320px;
} */
footer .about-us{
    color: white;
}
footer .about-us h4{
    margin-bottom: 15px;
    font-size: 20px;
}
footer .about-us p{
    margin: 0;
}

.soical{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    direction: ltr;
    /* position: absolute; */
    /* ??????????????????????? why absolute?????????????????????????????????!!! */
    /* left: 400px; */
    font-family: "Open Sans";
    text-decoration: none;
    
}
.soical a{
    color: #e7e7e7;
    transition: .3s;
}
.soical a:hover{
    color: #1A1A1A;
}
.twitter , .instagram , .youtube{
    /* margin-left: 20px; */
    font-size: 25px;
}
.fa-brands{
    font-size: 30px;
}


.links-footer{
    /* position: absolute; */
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
    align-items: start;
    gap: 10px;

    text-align:right;
    /* padding: 0; */
}
.links-footer h4{
    margin: 0px;
    /* margin-bottom: 20px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-footer .links {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    /* padding-top: 20px; */
    /* margin-top: 20px; */
}
.links-footer a{
    text-decoration: none;
    color: #e7e7e7;
    text-align: right;
    /* margin: 5px 0px; */
    transition: 0.2s;
}
.links-footer a:hover{
    color: #1A1A1A;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #e7e7e7;
    /* margin-right: 20px; */
    font-size: 20px;
}
.text h4{
    color: white;
    font-size: 20px;
    margin: 0;

}
/* @media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
} */



@media screen and (max-width: 500px) {
     /*footer style start*/
     footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 100px;
        /* padding: 10px; */
    
        /* height: 800px; */
    }
    
    .logos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* position: absolute; */
    }

    .tarmeez{
        height: 15px;
    }
    .imamu{
        height: 50px;
        margin-bottom: 30px;
    }
    .links-footer{
        /* position: absolute; */
        justify-content: center;
        flex-direction: column;

    }
    .links-footer .links {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    .links-footer .links a{
        text-align: center;
    }
    .soical{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* position: absolute; */
    }
    .soical span{
        font-family: "Open Sans";
    }
    .instagram span{
        margin-left: 5px;
    }
    .twitter , .instagram , .youtube{
        font-size: 15px;
        margin: 16px 0px;
        margin-left: 30px;
    }
    .text{
        /* position: absolute; */
        bottom: 40px;
        
    }
    .about-us{
        justify-content: center;
        align-items: center;
    }
    /*footer style end*/
}