:root{
    --main-color:#0597f2;
    --second-color:#0071B2;
    /* circle colors */
    --cir-1:#05f2d7;
    --cir-2:#05ddf2;
    --cir-3:#05a9f2;
    --cir-4:#0597f2;
    --cir-5:#0569f2;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Introduction */
.introductionWrapper{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction{
    /* border: 5px solid var(--main-color); */
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    width: fit-content;
    position: relative;
    background-color: #1A1A1A;
}
.introduction::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 102%;
    height: 110%;
    /* for browser not supporting linear gradiant */
    background-color: var(--main-color);
    /* background: linear-gradient(90deg, rgba(5,242,215,1) 18%, rgba(5,221,242,1) 32%, rgba(5,169,242,1) 50%, rgba(5,151,242,1) 75%, rgba(5,105,242,1) 95%); */
    background: linear-gradient(90deg, rgba(5,242,215,1) 10%, rgba(5,169,242,1) 30%, rgba(5,105,242,1) 50%, rgba(5,169,242,1) 70%, rgba(5,242,215,1) 90%);
    /* background: radial-gradient(circle, rgba(5,105,242,1) 0%, rgba(5,169,242,1) 34%, rgba(5,242,215,1) 58%, rgba(5,242,215,1) 83%); */
    background-size: 400% 400%;
    border-radius: 20px;
    animation-name: gradient-move;
    animation-duration: 12s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    
    z-index: -1;
}
.introduction h3{
    font-size: 20px;
}
#sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}
/* Form */
.forms-join{
    background-color: var(--main-color);
    background-color: #1A1A1A;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 50px 20px;
    max-width: 600px;
    margin: 20px;
}
.name{
    font-weight: bold;
}
.major{
    font-weight: bold;
}
.phoneOrEmail{
    font-weight: bold;
}
.ideaName{
    font-weight: bold;
}
.target{
    font-weight: bold;
}
.platform{
    font-weight: bold;
}
.major , .level , .ideaName , .ideaDetails, .target, .talk-about-your-self, .info , .email, .phoneOrEmail, .phone-number, .sugg{
    margin-top: 30px;
}
label .major , .level , .ideaName, .ideaDetails, .target, .talk-about-your-self, .info , .email, .phoneOrEmail, .phone-number, .sugg{
    font-weight: bold;
}
.email input[type="email"]{
    height: 20px;
}
.level input[type="number"], .major input[type="text"], .ideaName input[type="text"], .target input[type="text"], .name input[type="text"],.phoneOrEmail input[type="text"], .phone-number input[type="tel"]{
    height: 30px;
}
.other input[type="text"]{
    height: 30px;
}
.ideaDetails input[type = "text"], .info input[type = "text"]{
    height: 70px;
    /* color: white; */
    /* background-color: #0071B2; */
    /* background-color: none; */
    /* border: unset; */
    /* border-radius: 3px; */
    /* width: 100%; */
}
/* Comminted in HTML */
/* .talk-about-your-self ::placeholder{
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.631);
}
.talk-about-your-self input[type = "text"], .info input[type = "text"]{
    color: white;
    height: 70px;
    background-color:var(--second-color) ;
    border: 0;
    border-radius: 3px;
    width: 100%;
} */

.forms-join input{
    color: white;
    /* color:; */
    font-size: 18px;
    /* background-color: var(--second-color); */
    background-color: unset;
    border: 0;
    border-radius: 3px;
    border-bottom: 2px solid #fff ;
    cursor: pointer;
    outline: none;
}

.forms-join input[type="text"] + label,
.forms-join input[type="number"] + label,
.forms-join input[type="phoneOrEmail"] + label{
    /* background-color: red; */
    position: absolute;
    top: -5px;
    right: 0;
    cursor: pointer;
    transition: .3s;
    color: #ddd;
}
.forms-join input:focus,
.forms-join input:valid{
    border-color: var(--main-color);
}
.forms-join input:focus + label,
.forms-join input:valid + label{
    top: -25px;
    font-size: 15px;
    color: white;
    color: var(--main-color);
}
/* .forms-join input[] */
/* .name , .level , .major , .ideaName , .ideaDetails, .target, .talk-about-your-self, .email, .phoneOrEmail, .phone-number{ */
.forms-join > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.forms-join .platform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}
.platform > label{
    display: flex;
    justify-content: start;
    color: #ddd;
    /* width: 60%; */
    /* background-color: red; */
}


/* .experince{
    display: flex;
} 
 .experince label{
    display: flex;
    justify-content: start;
} */
.forms-join input[type="checkbox"]{
    /* color: white; */
    display: none;
}
.forms-join input[type="checkbox"] + label{
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: .3s;
}
.forms-join input[type="checkbox"]:checked + label{
    background-color: var(--second-color);
    border-radius: 50px;
}
.IOS, .Android, .Web{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
/* .python , .java-script , .java , .html-css, .swift , .sql , .dart , .php{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
} */
.down{
    display: flex;
}
/* .info , .platform , .experince{
    margin-top: 30px;
}
.info label , p{
    margin: 0;
}
.info label{
    font-weight: bold;
}
.info p{
    font-weight: normal;
    margin-top: 10px;
    font-size: 12px;
    max-width: 80%;
}
.info{
    width: 100%;
} */
/* .sugg{
    width: 100%;
}
.sugg input[type="text"]{
    width: 100%;
    height: 30px;
}
.sugg p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    width: 80%;
} */

.forms-join .button-send{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
    /* background-color: red; */

}
.forms-join  .send{
    font-family: "Noto kufi Arabic";
    font-size: 16px;
    /* width: 120px; */
    width: 30%;
    /* margin-left: 20px; */
    border: 0;
    border-radius: 3px;
    border-radius: 20px;
    background-color: var(--second-color);
    color: white;
    border: 0.5px solid var(--second-color);
    cursor: pointer;
    padding: 10px;
}
.forms-join  .reset{
    font-family: "Noto kufi Arabic";
    font-size: 16px;
    /* width: 120px; */
    width: 30%;
    /* margin-left: 20px; */
    border: 0;
    border-radius: 3px;
    /* border-radius: 10px;/ */
    /* background-color: #cc4f01; */
    /* border: 0.5px solid #cc4f01; */
    color: white;
    text-decoration:underline;
    cursor: pointer;
    /* padding: 10px; */
}
.send:hover{
    background-color: #0068a4;
    border: 0.5px solid white;
}
.reset:hover{
    /* background-color: #cc4f01; */
    /* border: 0.5px solid white; */
}
.phone-number ::placeholder{
    color: rgba(255, 255, 255, 0.631);
}

@media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    /* nav style*/
    nav a{
        font-size: 16px;
    }
    .button a{
        padding: 0px 10px;
    }
    /* nav style end*/


}


@keyframes gradient-move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}