:root{
    --main-color:#0597f2;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    color: white;

}
.container{
    width: 100%; 
    overflow: hidden;
}

#top{
    width: 100%;
    height: 100%;
    background-color: #3E3E3E;
}
#top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
#top-text h1{
    margin: 0px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#top-text h1::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 150px;
    height: 2px;
    /* background-color: var(--main-color); */
    background: linear-gradient(90deg, transparent,var(--main-color),transparent);
    left: 50%;
    transform: translateX(-50%);
}
#top-text p{
    margin: 0;
    font-size: 20px;
    max-width: 80%;
}
.lines{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    opacity: 70%;
    margin: 40px 0px;
    text-align: center;
}
.lines h2{
    color: white; /* it's not changing to true white color, not sure why */
    font-weight: 400;
    font-size: 30px;
}
.line-between0{
    max-width: 60%;
    margin-top: 60px;
    height: 5px;
    width: 400px;
    /* background-color: white; */
    background: linear-gradient(90deg,var(--main-color),transparent);
    margin: auto 40px;
    border-radius: 5px;
}
.lines h2 + .line-between0{
    background: linear-gradient(90deg, transparent,var(--main-color));
}
.lines2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    opacity: 70%; 
}
.owner-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox{
    position: relative;
    width: 260px;
    height: 320px;
    background-color: #3E3E3E;
    border-radius: 15px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    padding-top: 40px;
    border: 1px solid #404040 ;
    border-radius: 15px;
}

.card h1{
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
}
.card span{
    font-family: "Open Sans";
}
.card p{
    margin-top: 15px;
    max-width: 90%;
}
.border-user{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 90px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50% ;

}
.fa-solid{
    color: white;
}
.fa-user{
    font-size: 40px;
}
.tags{
    color: white;
    position: absolute;
    bottom: 40px;
    right: 0;
}
.backgorund-swift{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F43F25;
    width: 60px;
    height: 30px;
    right:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgorund-swift, .backgorund-python, .backgorund-illustrator div{
    text-align: center;
    font-size: 12px;
}
.backgorund-python{
    font-family: "Open Sans";
    position: absolute;
    width: 60px;
    height: 30px;
    right:70px;
    border-radius: 5px;
    background-image: linear-gradient( to right bottom, rgba(63, 126, 177, 1) , rgba(255, 230, 106, 1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgorund-illustrator{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 60px;
    height: 30px;
    right:135px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexbox-member{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px 40px;
    margin-bottom: 90px;
}
.backgorund-java{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 60px;
    height: 30px;
    right:70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.backgorund-infographic{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 70px;
    height: 30px;
    right:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.tags-icons{
    display: flex;
    margin: 0px auto 20px auto;
}
.icon1, .icon2, .icon3{
    margin: 0px 5px 0px 5px;
}
.icons-explanation{
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon img{
    margin: 10px 35px 0px 35px;
}
.contaner-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .img{
    margin-left: 15px;
} */
p{
    color: #999898;
}

h4{
    font-size: 15px;
}

.text p{
    color: white;
}

@media (max-width:783px){

    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width:783px){

    #check:checked ~ ul{
        left: 0;
    }
    .lines h2{
        color: white; /* it's not changing to true white color, not sure why */
        font-weight: 400;
        font-size: 30px;
        width: 45%;
    }
}


@media screen and (max-width: 428px) {
    /* start style middle*/

    #pragraph{
        padding-bottom: 80px;
        margin: 0px;
    }
    .content-text{
        margin-top: 0px;
    }
    /* end style middle*/
    /* start style list*/
    #list li{
        font-size: 15px;
        margin-right: 15px;
    }
    #list h1{
        margin-top: 0px;
    }
    .icons-text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
    }
    .lines h2{
        font-size: 25px;
    }
    /* end style list*/
  
}