:root{
    --main-color:#0597f2;
    --second-color:#0071B2;
    /* circle colors */
    --cir-1:#05f2d7;
    --cir-2:#05ddf2;
    --cir-3:#05a9f2;
    --cir-4:#0597f2;
    --cir-5:#0569f2;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Introduction */
.introductionWrapper{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction{
    /* border: 5px solid var(--main-color); */
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    width: fit-content;
    position: relative;
    background-color: #1A1A1A;
}
.introduction::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 102%;
    height: 110%;
    /* for browser not supporting linear gradiant */
    background-color: var(--main-color);
    /* background: linear-gradient(90deg, rgba(5,242,215,1) 18%, rgba(5,221,242,1) 32%, rgba(5,169,242,1) 50%, rgba(5,151,242,1) 75%, rgba(5,105,242,1) 95%); */
    background: linear-gradient(90deg, rgba(5,242,215,1) 10%, rgba(5,169,242,1) 30%, rgba(5,105,242,1) 50%, rgba(5,169,242,1) 70%, rgba(5,242,215,1) 90%);
    /* background: radial-gradient(circle, rgba(5,105,242,1) 0%, rgba(5,169,242,1) 34%, rgba(5,242,215,1) 58%, rgba(5,242,215,1) 83%); */
    background-size: 400% 400%;
    border-radius: 20px;
    animation-name: gradient-move;
    animation-duration: 12s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    
    z-index: -1;
}
.introduction h3{
    font-size: 20px;
}
#sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}
/* Form */
.forms-join{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    padding: 18px 20px;
    max-width: 600px;
    margin: 10px;
}
.name{
    font-weight: bold;
}
.major{
    font-weight: bold;
}
.phoneOrEmail{
    font-weight: bold;
}
.ideaName{
    font-weight: bold;
}
.target{
    font-weight: bold;
}
.platform{
    font-weight: bold;
}
.major , .level , .ideaName , .ideaDetails, .target, .talk-about-your-self, .info , .email, .phoneOrEmail, .phone-number, .sugg{
    margin-top: 30px;
}
label .major , .level , .ideaName, .ideaDetails, .target, .talk-about-your-self, .info , .email, .phoneOrEmail, .phone-number, .sugg{
    font-weight: bold;
}
.email input[type="email"]{
    height: 20px;
}
.level input[type="number"], .major input[type="text"], .ideaName input[type="text"], .target input[type="text"], .name input[type="text"],.phoneOrEmail input[type="text"], .phone-number input[type="tel"]{
    height: 30px;
}
.other input[type="text"]{
    height: 30px;
}
.ideaDetails input[type = "text"], .info input[type = "text"]{
    color: white;
    height: 70px;
    background-color: #0071B2;
    border: 0;
    border-radius: 3px;
    width: 100%;
}
.talk-about-your-self ::placeholder{
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.631);
}
.talk-about-your-self input[type = "text"], .info input[type = "text"]{
    color: white;
    height: 70px;
    background-color:var(--second-color) ;
    border: 0;
    border-radius: 3px;
    width: 100%;
}

.forms-join input[type = "text"]{
    color: white;
    background-color: var(--second-color);
    border: 0;
    border-radius: 3px;
}
.forms-join input[type="number"]{
    color: white;
    background-color: var(--second-color);
    border: 0;
    border-radius: 3px;
}
.forms-join input[type="tel"]{
    color: white;
    background-color: var(--second-color);
    border: 0;
    border-radius: 3px;
}
.name , .level , .major , .ideaName , .ideaDetails, .target, .talk-about-your-self, .email, .phoneOrEmail, .phone-number{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.platform{
    display: flex;
}
.platform label{
    display: flex;
    justify-content: start;
}
.experince{
    display: flex;
}
.experince label{
    display: flex;
    justify-content: start;
}
.IOS, .Android, .Web{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.python , .java-script , .java , .html-css, .swift , .sql , .dart , .php{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.down{
    display: flex;
}
.info , .platform , .experince{
    margin-top: 30px;
}
.info label , p{
    margin: 0;
}
.info label{
    font-weight: bold;
}
.info p{
    font-weight: normal;
    margin-top: 10px;
    font-size: 12px;
    max-width: 80%;
}
.info{
    width: 100%;
}
.sugg{
    width: 100%;
}
.sugg input[type="text"]{
    width: 100%;
    height: 30px;
}
.sugg p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    width: 80%;
}

.button-send{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.send{
    font-family: "Noto kufi Arabic";
    font-size: 16px;
    width: 120px;
    margin-left: 20px;
    border: 0;
    border-radius: 3px;
    background-color: var(--second-color);
    color: white;
    border: 0.5px solid var(--second-color);
    cursor: pointer;
}
.reset{
    font-family: "Noto kufi Arabic";
    font-size: 16px;
    width: 120px;
    margin-left: 20px;
    border: 0;
    border-radius: 3px;
    background-color: #cc4f01;
    border: 0.5px solid #cc4f01;
    color: white;
    cursor: pointer;
}
.send:hover{
    background-color: #0068a4;
    border: 0.5px solid white;
}
.reset:hover{
    background-color: #cc4f01;
    border: 0.5px solid white;
}
.phone-number ::placeholder{
    color: rgba(255, 255, 255, 0.631);
}
/* Footer */
footer{
    background-color: var(--main-color);
    width: 100%;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    padding: 40px 0;
    
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%;
    /* background-color: red; */
}

footer .about-us{
    color: white;
}
footer .about-us h4{
    margin-bottom: 15px;
    font-size: 20px;
}
footer .about-us p{
    margin: 0;
}

.soical{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    direction: ltr;
    font-family: "Open Sans";
    text-decoration: none;
    
}
.soical a{
    color: #e7e7e7;
    transition: .3s;
}
.soical a:hover{
    color: #1A1A1A;
}
.twitter , .instagram , .youtube{
    /* margin-left: 20px; */
    font-size: 25px;
}
.fa-brands{
    font-size: 30px;
}


.links-footer{
    /* position: absolute; */
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
    align-items: start;
    gap: 10px;

    text-align:right;
    /* padding: 0; */
}
.links-footer h4{
    margin: 0px;
    /* margin-bottom: 20px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-footer .links {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    /* padding-top: 20px; */
    /* margin-top: 20px; */
}
.links-footer a{
    text-decoration: none;
    color: #e7e7e7;
    text-align: right;
    /* margin: 5px 0px; */
    transition: 0.2s;
}
.links-footer a:hover{
    color: #1A1A1A;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #e7e7e7;
    /* margin-right: 20px; */
    font-size: 20px;
}
.text h4{
    color: white;
    font-size: 20px;
    margin: 0;

}
@media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    /*footer style start*/
    .twitter , .instagram , .youtube{
        font-size: 15px;
        /* margin: 16px 0px; */
        margin-left: 10px;
    }
}
@media screen and (max-width: 500px) {
    /* nav style*/
    nav a{
        font-size: 16px;
    }
    .button a{
        padding: 0px 10px;
    }
    /* nav style end*/
    /* start style middle*/
    /* no paragraph :) */
    /* #pragraph{
        padding-bottom: 80px;
        margin: 0px;
    } */

 /*footer style start*/
 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 100px;
    /* padding: 10px; */

    /* height: 800px; */
}

.logos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: absolute; */
}

.tarmeez{
    height: 15px;
}
.imamu{
    height: 50px;
    margin-bottom: 30px;
}
.links-footer{
    /* position: absolute; */
    justify-content: center;
    flex-direction: column;

}
.links-footer .links {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.links-footer .links a{
    text-align: center;
}
.soical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* position: absolute; */
}
.soical span{
    font-family: "Open Sans";
}
.instagram span{
    margin-left: 5px;
}
.twitter , .instagram , .youtube{
    font-size: 15px;
    margin: 16px 0px;
    margin-left: 30px;
}
.text{
    /* position: absolute; */
    bottom: 40px;
    
}
.about-us{
    justify-content: center;
    align-items: center;
}
/*footer style end*/

}


@keyframes gradient-move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}