html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
}
/*nav style*/
nav{
    position: fixed;
    background-color: #0599F2;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;

}
nav a:hover{
    color: #1A1A1A;
}
.home a{
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
}
.home a:hover{
    transform: scale(1);
}
.logo{
    margin-top: 10px ;
}

.button a{
    background-color: white;
    color: #0599F2;
    padding: 0.5px 30px;
    border-radius: 5px;
    margin-left: 15px;
    border: 2.3px white solid ;
    transition: 0.35s;
}
.button a:hover{
    background-color: #0597f2;
    color: white;
    border: 2.3px white solid ;
}
/* [END] nav style*/
/* Slider */
.slider{
    width: 800;
    height: 500;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
}

.nav-manual{
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #0597f2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 20px;
}

.manual-btn:not(:last-child){
    margin-left: 40px;
}

.manual-btn:hover{
    background: #0597f2;
}
#radio1:checked ~ .frist{
    margin-left: 0px;
}
#radio2:checked ~ .frist{
    margin-left: -20%;
}
#radio3:checked ~ .frist{
    margin-left: -40%;
}
#radio4:checked ~ .frist{
    margin-left: -60%;
}


#images{
    width: 100%;
    border-bottom: 2px #0597f2 solid;
}
/* [END] Slider*/
/* pragraph */
#pragraph{
    height: 400px;
    width: 100%;
    border-bottom: 2px #0597f2 solid;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.content-text{
    /* margin-top: 40px; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-text h1 , h2{
    font-weight: 400;
}
/* list */
#list{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.background{
    padding: 100px 0;
    width: 100%;
    height: 100%;
    height: 70vh;
    background-image: url("images/Background.png");
    background-size: cover;
    background-position: center;
}
#list h1{
    text-align: center;
    font-size: 40px;
}
#list li{
    font-size: 20px;
    margin-bottom: 15px;
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.right{
    margin-left: 70px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Footer */
footer{
    background-color: #0597f2;
    width: 100%;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    padding: 40px 0;
    
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%;
    /* background-color: red; */
}


/* .line{
    width: 2px;
    height: 70px;
    background-color: white;
    margin: 0px 20px;
    margin-top: auto;
}
.lines-between{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 320px;
} */
footer .about-us{
    color: white;
}
footer .about-us h4{
    margin-bottom: 15px;
    font-size: 20px;
}
footer .about-us p{
    margin: 0;
}

.soical{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    direction: ltr;
    /* position: absolute; */
    /* ??????????????????????? why absolute?????????????????????????????????!!! */
    /* left: 400px; */
    font-family: "Open Sans";
    text-decoration: none;
    
}
.soical a{
    color: #e7e7e7;
    transition: .3s;
}
.soical a:hover{
    color: #1A1A1A;
}
.twitter , .instagram , .youtube{
    /* margin-left: 20px; */
    font-size: 25px;
}
.fa-brands{
    font-size: 30px;
}


.links-footer{
    /* position: absolute; */
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
    align-items: start;
    gap: 10px;

    text-align:right;
    /* padding: 0; */
}
.links-footer h4{
    margin: 0px;
    /* margin-bottom: 20px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-footer .links {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    /* padding-top: 20px; */
    /* margin-top: 20px; */
}
.links-footer a{
    text-decoration: none;
    color: #e7e7e7;
    text-align: right;
    /* margin: 5px 0px; */
    transition: 0.2s;
}
.links-footer a:hover{
    color: #1A1A1A;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #e7e7e7;
    /* margin-right: 20px; */
    font-size: 20px;
}
.text h4{
    color: white;
    font-size: 20px;
    margin: 0;

}

/* @media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
} */

@media screen and (max-width: 1024px) {
        /*footer style start*/
        .tarmeez{
            /* height: 15px; */
        }
        .imamu{
            /* height: 50px; */
            /* margin-bottom: 30px; */
        }
        .soical{
            /* display: flex; */
            /* flex-direction: column; */
        }
        .soical span{
            /* font-family: "Open Sans"; */
        }
        
        .instagram span{
            /* margin-left: 5px; */
        }

        .twitter , .instagram , .youtube{
            font-size: 15px;
            /* margin: 16px 0px; */
            margin-left: 10px;
        }
        .text{
            /* bottom: 40px; */
        }
}
@media screen and (max-width: 500px) {
    /* nav style*/
    nav a{
        font-size: 16px;
    }
    .logo{
        display: none;
    }
    .button a{
        /* padding: 0px 10px; */
    }
    /* nav style end*/
    /* start style slider image*/

    .slide img{
        height: 100%;
        width: 100%;
    }
    /* end style slider image*/
    /* start style middle*/

    #pragraph{
        padding-bottom: 80px;
        margin: 0px;
    }
    .content-text{
        margin-top: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-text h1{
        font-size: 30px;
    }
    .content-text h2{
        font-size: 20px;
    }
    /* end style middle*/
    /* start style list*/
    #list li{
        font-size: 15px;
        margin-right: 15px;
    }
    #list h1{
        margin-top: 0px;
    }
    .right{
        padding-right: 10px;
        margin-left: 40px;
    }
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slides{
        height: 320px;
    }
    /* end style list*/
    /*footer style start*/
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 100px;
        /* padding: 10px; */
    
        /* height: 800px; */
    }
    
    .logos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* position: absolute; */
    }

    .tarmeez{
        height: 15px;
    }
    .imamu{
        height: 50px;
        margin-bottom: 30px;
    }
    .links-footer{
        /* position: absolute; */
        justify-content: center;
        flex-direction: column;

    }
    .links-footer .links {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    .links-footer .links a{
        text-align: center;
    }
    .soical{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* position: absolute; */
    }
    .soical span{
        font-family: "Open Sans";
    }
    .instagram span{
        margin-left: 5px;
    }
    .twitter , .instagram , .youtube{
        font-size: 15px;
        margin: 16px 0px;
        margin-left: 30px;
    }
    .text{
        /* position: absolute; */
        bottom: 40px;
        
    }
    .about-us{
        justify-content: center;
        align-items: center;
    }
    /*footer style end*/
}
