:root{
    --main-color:#0597f2;

}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
}
/*nav style*/


/* [END] nav style*/
/* Slider */
#images{
    width: 100%;
    border-bottom: 2px var(--main-color) solid;
    position: relative;
}
#images::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    
    background-color: #000;

}
/* some shadow, maybe useful some day */
#images::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(5,151,242,.5) 55%, rgba(5,41,242,1) 100%); */
/* background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7    ) 19%, rgba(5,151,242,.5) 55%, rgba(5,41,242,1) 100%); */
/* background: rgb(255,255,255); */
/* background: radial-gradient(circle, rgba(255,255,255,0) 81%, rgba(255,255,255,1) 95%); */
}



.slider{
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.nav-manual{
    margin-top: -40px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 180px;
    bottom: 0;
    width: 100%;
    
}

.manual-btn{
    border: 1px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    /* opacity: .5; */
}

.manual-btn:not(:last-child){
    margin-left: 40px;
}

.manual-btn:hover{
    background: var(--main-color);
}
.frist{
    margin-left: -20%;
    position: relative;
}
#radio1:checked ~ .frist{
    margin-left: -20%;
}
#radio2:checked ~ .frist{
    margin-left: -40%;
}
#radio3:checked ~ .frist{
    margin-left: -60%;
}
#radio4:checked ~ .frist{
    margin-left: -80%;
}
#radio1:checked ~ .frist label[for="radio1"]{
    background: var(--main-color);
}
#radio2:checked ~ .frist label[for="radio2"]{
    background: var(--main-color);
}
#radio3:checked ~ .frist label[for="radio3"]{
    background: var(--main-color);
}
#radio4:checked ~ .frist label[for="radio4"]{
    background: var(--main-color);
}

.slider-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(15,18,40); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 20;
}
.slider-text p{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    /* text-shadow: 2px 2px 10px #fff; */
}
.slider-text p::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    z-index: -1;
    border-radius: 30px;

}

/* [END] Slider*/
/* pragraph */
#pragraph{
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    width: 100%;
    border-bottom: 2px var(--main-color) solid;
    color: white;
    text-align: center;
}
.content-text{
    /* margin-top: 40px; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.content-text h1 {
    position: relative;
    padding-bottom: 20px;
}
.content-text h1::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 150px;
    height: 2px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
.content-text h1{
    font-weight: 400;
}
.content-text p span{
    color: var(--main-color);
    font-weight: bolder;
}
.content-text .left-c{
    position: absolute;
    left: 5%;
    transform: rotateY(180deg);
    /* transform: rotateZ(90deg); */
    font-size: 300px;
    padding: 0;
    margin: 0;
    color: white;
    z-index: -1;
    opacity: .05;
}
.content-text .right-c{
    z-index: -1;
    position: absolute;
    right: 5%;
    transform: rotateY(180deg);
    /* transform: rotateZ(270deg); */
    font-size: 300px;
    padding: 0;
    margin: 0;
    color: white;
    opacity: .05;
}
/* list */
#list{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    /* padding-top: 40px;
    padding-bottom: 40px; */
}

.background{
    padding: 100px 10px;
    width: 100%;
    height: 100%;
    background-image: url("images/Background.png");
    background-size: cover;
    background-position: center;
}
#list h1{
    text-align: center;
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
#list h1::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 150px;
    height: 2px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
#list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* align-items: center; */
    width: 100%;
}
#list li{
    width: 40%;
    font-size: 20px;
    /* margin-bottom: 15px; */
    border-radius: 20px;
    border: 2px solid var(--main-color);
    padding: 20px;
    background-color: #88888844;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: 1s;
}
#list li:hover{
    transform: translateY(-5%);
}
#list li p{
    width: 50%;
    text-align: right;
    padding-right: 10px;
}
#list li i{
    /* text-align: center; */
    /* width: 20%; */
    font-size: 80px;
    color: var(--main-color);
}

.right{
    margin-left: 70px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Footer */
footer{
    background-color: var(--main-color);
    width: 100%;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    padding: 40px 0;
    
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%;
    /* background-color: red; */
}


/* .line{
    width: 2px;
    height: 70px;
    background-color: white;
    margin: 0px 20px;
    margin-top: auto;
}
.lines-between{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 320px;
} */
footer .about-us{
    color: white;
}
footer .about-us h4{
    margin-bottom: 15px;
    font-size: 20px;
}
footer .about-us p{
    margin: 0;
}

.soical{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    direction: ltr;
    /* position: absolute; */
    /* ??????????????????????? why absolute?????????????????????????????????!!! */
    /* left: 400px; */
    font-family: "Open Sans";
    text-decoration: none;
    
}
.soical a{
    color: #e7e7e7;
    transition: .3s;
}
.soical a:hover{
    color: #1A1A1A;
}
.twitter , .instagram , .youtube{
    /* margin-left: 20px; */
    font-size: 25px;
}
.fa-brands{
    font-size: 30px;
}


.links-footer{
    /* position: absolute; */
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
    align-items: start;
    gap: 10px;

    text-align:right;
    /* padding: 0; */
}
.links-footer h4{
    margin: 0px;
    /* margin-bottom: 20px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-footer .links {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    /* padding-top: 20px; */
    /* margin-top: 20px; */
}
.links-footer a{
    text-decoration: none;
    color: #e7e7e7;
    text-align: right;
    /* margin: 5px 0px; */
    transition: 0.2s;
}
.links-footer a:hover{
    color: #1A1A1A;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #e7e7e7;
    /* margin-right: 20px; */
    font-size: 20px;
}
.text h4{
    color: white;
    font-size: 20px;
    margin: 0;

}
/* @media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
} */


@media screen and (max-width: 1024px) {

        /*footer style start*/
        .twitter , .instagram , .youtube{
            font-size: 15px;
            /* margin: 16px 0px; */
            margin-left: 10px;
        }
}
@media screen and (max-width: 500px) {
    /* nav style*/
    nav a{
        font-size: 16px;
    }
    .button a{
        /* padding: 0px 10px; */
    }
    nav ul li a{
        color: #ffffff;
        font-size: 15px;
    }
    .button a{
        padding: 0.5px 8.5px;
        border-radius: 5px;
        border: 2.3px white solid ;
        transition: 0.35s;
    }
    /* nav style end*/
    /* start style slider image*/

    .slide img{
        height: 100%;
        width: 100%;
    }
    .slider-text p{
        display: none;
    }
    /* end style slider image*/
    /* start style middle*/

    #pragraph{
        padding-bottom: 80px;
        margin: 0px;
    }
    .content-text{
        margin-top: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-text h1{
        font-size: 30px;
    }
    .content-text p{
        font-size: 20px;
        color: #e7e7e7;
    }
    .content-text .left-c,.content-text .right-c{
        font-size: 200px;
        opacity: 0.01;
    }
    /* end style middle*/
    /* start style list*/
    #list li{
        width: 100%;
        font-size: 15px;
        /* margin-right: 15px; */
    }
    #list li:hover{
        transform: unset;
    }
    #list h1{
        margin-top: 0px;
    }
    .right{
        padding-right: 10px;
        margin-left: 40px;
    }
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slides{
        height: 320px;
    }
    /* end style list*/
    /*footer style start*/
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 100px;
        /* padding: 10px; */
    
        /* height: 800px; */
    }
    
    .logos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* position: absolute; */
    }

    .tarmeez{
        height: 15px;
    }
    .imamu{
        height: 50px;
        margin-bottom: 30px;
    }
    .links-footer{
        /* position: absolute; */
        justify-content: center;
        flex-direction: column;

    }
    .links-footer .links {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    .links-footer .links a{
        text-align: center;
    }
    .soical{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* position: absolute; */
    }
    .soical span{
        font-family: "Open Sans";
    }
    .instagram span{
        margin-left: 5px;
    }
    .twitter , .instagram , .youtube{
        font-size: 15px;
        margin: 16px 0px;
        margin-left: 30px;
    }
    .text{
        /* position: absolute; */
        bottom: 40px;
        
    }
    .about-us{
        justify-content: center;
        align-items: center;
    }
    /*footer style end*/


}