html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A1A1A;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    color: white;

}
/*nav style*/
nav{
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #0599F2;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;

}
nav a:hover{
    color: #1A1A1A;
}
.home a{
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
}
.home a:hover{
    transform: scale(1);
}
.logo{
    margin-top: 10px ;
    margin-left: 5%;
}

.button a{
    background-color: white;
    color: #0599F2;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 15px;
    border: 2.3px white solid ;
    transition: 0.35s;
}
.button a:hover{
    background-color: #0597f2;
    color: white;
    border: 2.3px white solid ;
}
/* [END] nav style*/
#top{
    width: 100%;
    height: 100%;
    background-color: #3E3E3E;
}
#top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
#top-text h1{
    margin: 0px;
}
#top-text p{
    margin: 0;
    font-size: 20px;
    max-width: 80%;
}
.lines{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    opacity: 70%;
    margin: 40px 0px;
}
.lines h2{
    font-weight: 400;
    font-size: 30px;
}
.line-between0{
    max-width: 60%;
    margin-top: 60px;
    height: 5px;
    width: 400px;
    background-color: white;
    margin: auto 40px;
    border-radius: 5px;
}
.lines2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    opacity: 70%; 
}
.owner-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox{
    position: relative;
    width: 260px;
    height: 320px;
    background-color: #3E3E3E;
    border-radius: 15px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    padding-top: 40px;
}
.card h1{
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
}
.card span{
    font-family: "Open Sans";
}
.card p{
    margin-top: 15px;
    max-width: 90%;
}
.border-user{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 90px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50% ;

}
.fa-solid{
    color: white;
}
.fa-user{
    font-size: 40px;
}
.tags{
    color: white;
    position: absolute;
    bottom: 40px;
    right: 0;
}
.backgorund-swift{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F43F25;
    width: 60px;
    height: 30px;
    right:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgorund-swift, .backgorund-python, .backgorund-illustrator div{
    text-align: center;
    font-size: 12px;
}
.backgorund-python{
    font-family: "Open Sans";
    position: absolute;
    width: 60px;
    height: 30px;
    right:70px;
    border-radius: 5px;
    background-image: linear-gradient( to right bottom, rgba(63, 126, 177, 1) , rgba(255, 230, 106, 1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgorund-illustrator{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 60px;
    height: 30px;
    right:135px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexbox-member{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px 40px;
    margin-bottom: 90px;
}
.backgorund-java{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 60px;
    height: 30px;
    right:70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.backgorund-infographic{
    font-family: "Open Sans";
    position: absolute;
    background-color: #F7951A;
    width: 70px;
    height: 30px;
    right:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}
.tags-icons{
    display: flex;
    margin: 0px auto 20px auto;
}
.icon1, .icon2, .icon3{
    margin: 0px 5px 0px 5px;
}
.icons-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40%;
}
.icon{
    display: flex;
    justify-self: start;
    align-items: center;
    margin-left: 20px;
}
.contaner-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img{
    margin-left: 15px;
}
p{
    color: #999898;
}

h4{
    font-size: 15px;
}


footer{
    background-color: #0597f2;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logos{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 10px;
}

.line{
    width: 2px;
    height: 70px;
    background-color: white;
    margin: 0px 20px;
    margin-top: auto;
}
.lines-between{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 320px;
}
.soical{
    color: white;
    display: flex;
    direction: ltr;
    position: absolute;
    left: 400px;
    font-family: "Open Sans";
}
.twitter , .instagram , .youtube{
    margin-left: 20px;
    font-size: 25px;
}
.fa-brands{
    font-size: 30px;
}
.lines-between2{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 1132px;
}
.links-footer a{
    text-decoration: none;
    color: white;
    margin: 5px 0px;
}
.links-footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    left: 1200px;
    text-align: center;


}
.links-footer h1{
    margin: 0px;
}
.links-footer a{
    transition: 0.2s;
}
.links-footer a:hover{
    color: #1A1A1A;
}
.lines-between3{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    left: 1400px;
}
.text{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 20px;
    font-size: 20px;
}

@media screen and (max-width: 1700px){
    .text{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
        /*footer style start*/
        footer{
            display: flex;
            flex-direction: row;
            position: relative;
            height: 800px;
        }
        .logos{
            display: flex;
            flex-direction: column;
            top: 10px;
            position: absolute;
        }
        .line{
            display: none;
        }
        .tarmeez{
            height: 15px;
        }
        .imamu{
            height: 50px;
            margin-bottom: 30px;
        }
        .links-footer{
            position: absolute;
            top: 400px;
            left: 45%;
        }
        .soical{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 160px;
            left: 41%;
        }
        .soical span{
            font-family: "Open Sans";
        }
        
        .instagram span{
            margin-left: 5px;
        }
        .lines-between{
            width: 200px;
            height: 3px;
            top: 140px;
            left: 41%;
            position: absolute;
        }
        .lines-between2{
            width: 200px;
            height: 3px;
            top: 370px;
            left: 41%;
            position: absolute;
        }
        .lines-between3{
            width: 200px;
            height: 3px;
            top: 640px;
            left: 41%;
            position: absolute;
        }
        .twitter , .instagram , .youtube{
            font-size: 15px;
            margin: 16px 0px;
            margin-left: 30px;
        }
        .text{
            position: absolute;
            bottom: 40px;
            
        }
}
@media screen and (max-width: 428px) {
    /* nav style*/
    nav a{
        font-size: 16px;
    }
    .logo{
        display: none;
    }
    .button a{
        padding: 0px 10px;
    }
    /* nav style end*/
    /* start style slider image*/

    .slide img{
        height: 100%;
        width: 100%;
    }
    /* end style slider image*/
    /* start style middle*/

    #pragraph{
        padding-bottom: 80px;
        margin: 0px;
    }
    .content-text{
        margin-top: 0px;
    }
    /* end style middle*/
    /* start style list*/
    #list li{
        font-size: 15px;
        margin-right: 15px;
    }
    #list h1{
        margin-top: 0px;
    }
    .icons-text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
    }
    /* end style list*/
    /*footer style start*/
    footer{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 800px;
    }
    .logos{
        display: flex;
        flex-direction: column;
        top: 10px;
        position: absolute;
    }
    .line{
        display: none;
    }
    .tarmeez{
        height: 15px;
    }
    .imamu{
        height: 50px;
        margin-bottom: 30px;
    }
    .links-footer{
        position: absolute;
        top: 400px;
        left: 33%;
    }
    .soical{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 160px;
        left: 25%;

    }
    .soical span{
        font-family: "Open Sans";
    }
    
    .instagram span{
        margin-left: 5px;
    }
    .lines-between{
        width: 200px;
        height: 3px;
        top: 140px;
        left: 28%;
        position: absolute;
    }
    .lines-between2{
        width: 200px;
        height: 3px;
        top: 370px;
        left: 28%;
        position: absolute;
    }
    .lines-between3{
        width: 200px;
        height: 3px;
        top: 640px;
        left: 28%;
        position: absolute;
    }
    .twitter , .instagram , .youtube{
        font-size: 15px;
        margin: 16px 0px;
        margin-left: 30px;
    }
    .text{
        position: absolute;
        bottom: 40px;
        
    }
    /*footer style end*/
}